.bg{
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -999;
}
page{
//  background-image: url(../../common/images/111.png);
//  background-size: 100% 100%; /* 使背景图片覆盖整个页面 */  
//  background-position: center; /* 使背景图片居中显示 */  
  // height: 100%;
 
}
button[plain]{ border:0 }
.history-top{
  height: 270px;
  width: 100%;
  padding-top: 20%;
  // background-color: yellow;
  .one{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .avatar{
      height: 120px;
      width: 120px;
      margin: auto;
      padding-top: 15px;
      // display: flex;
        .historyButton{
          height: 120px;
          width: 120px !important;
          border-radius: 50%;
          background-color: transparent;
          box-sizing:border-box;
          // box-shadow: 1px 5px 6px 0px rgba(158, 158, 158, 0.76);
          // display: flex;
          // align-items: center;
          // justify-content: center;
          border: 10px solid transparent;
            .historyAvatar{
              height: 85px ;
              width: 85px !important;
              border-radius: 50%;
              z-index: 9;
              margin-left: -7px;
              // margin-left: -20px;
              margin-top: 5px;
              box-shadow: 1px 5px 6px 0px rgba(158, 158, 158, 0.76);
            }
        }
    }
    .nickname{
      height: 80px;
      .nickname-content{
        font-size: 22px;
        font-weight: 700;
       
      }
    }
  }
  .two{
    height: 70px;
    // background-color: black;
    margin-top: -12px;
    display: flex;
    flex-wrap: wrap;
    .two-gold{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      position: relative;
      // border-right: 1px solid #ccc;
    }
    .two-gold::after{
      content: '';  
  position: absolute;  
  top: 0;  
  right: 0;  
  width: 1px; /* 这里可以自定义线的宽度 */  
  height: 35px; /* 这里可以自定义线的高度，使其短于盒子的高度 */  
  background-color: #cccccc; /* 这里可以自定义线的颜色 */  
  transform: translateY(30%); /* 使线垂直居中 */  
    }
    .two-history{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
    }
  }
}
.history-content{
  //   width: 90%;
  //  margin: auto;
  .round-top{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    // border-bottom-left-radius: 20px;
   
    
  }
  .round-bottom{
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px; 
  }
  
   
  // .van-cell:after {
  //   border-bottom: none !important;
  //   border-bottom-style: none !important;
  // }
 
}
.history-end{
    .update-record{
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .black-mode{
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px; 
    }
}
.goldClass{
  
  /* 半透明黑色背景 */  
  z-index: 9999; /* 确保遮罩层位于其他元素之上 */  
  .weui-half-screen-dialog__ft{
    display: none;
  }
  button::after {  
    border: none;  
}
}
.detail{
  z-index: 999999;
}
.van-cell:after {
  border-bottom: none !important;
  border-bottom-style: none !important;
}
.weui-half-screen-dialog__hd{
  position: relative;
}
.overlay {  
  // position: fixed;  
  // top: 0;  
  // left: 0;  
  // width: 100%;  
  // height: 100%;  
  background-color: rgba(0, 0, 0, 0.7); /* 半透明黑色背景 */  
  z-index: 999; /* 确保遮罩层位于其他元素之上 */  
}