page{
  height: 100%;
}
.container{
  // position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  // background-image: url('../../common/images/bg-629eadeb.jpg');
  image {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -999;
  }
  .iconlist{
    position: absolute;
    left: 6.5%;
    // top:5.5%;
  }
  .avatar-wrapper{
    padding: 0;
    margin-top: -190rpx;
    width: 210rpx !important;
    height: 210rpx;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 5px 6px 0px rgba(158, 158, 158, 0.76);
  }
  .avatar{
    width: 210rpx;
    height: 210rpx;
    border-radius: 50%;
    z-index: 9;
  }
  button[plain]{ border:0 }
  .ipt{
    text-align: center;
    margin-top: 60rpx;
    .weui-input{
      height: 103rpx;
      width: 600rpx;
      border: 1px solid rgb(228, 227, 227);
      box-shadow: 0px 1px 10px 1px rgba(211, 211, 211, 0.76);
      border-radius: 20rpx;
      background-color: #fff;
      font-weight: 700;
      font-size: 40rpx;
      line-height: 103rpx;
      box-sizing:border-box;
      z-index: 1;
      
    }
  }

  .recommend{
    margin-top: 50rpx;
    .text{
      font-size: 28rpx;
      color: rgb(187, 191, 199);
    }
  }
  .create{
    margin-top: 164rpx;
    .createBtn{
      color: #fff;
      height: 103rpx;
      width: 600rpx!important;
      background-color: rgb(74, 107, 223);
      // text-align: center;
      font-size: 36rpx;
      font-weight: normal;
      display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20rpx;
    box-sizing:border-box
    }
  }

  .instructions{
    margin-top: 50rpx;
    .useinfo{
      // text-decoration: underline;
      font-size: 28rpx;
      font-weight: 500;
      border-bottom: 2px solid black;
      padding-bottom: 5rpx;
    }
    .weui-half-screen-dialog__ft{
      display: none;
    }
  }
  .btn{
     border: 0;
     border-radius: 0%;
     line-height: 80rpx;
     display: flex;
     justify-content: center;
     align-items: center;
     border-top-right-radius: 50rpx;
     border-bottom-right-radius:50rpx;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  .popup-inner {
    width: 70%;
    padding: 20px;
    background: linear-gradient(to bottom,#bcdfff, #FFFFFF);
    text-align: center;
    border-radius: 20rpx;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    transition: all 0.3s;
  }
  .popup-title{
    font-size: 36rpx;
    font-weight: bold;
    margin-bottom: 50rpx;
    margin-top: 10rpx;
    position: relative;
  }
  
  .popup-img {
    width: 400rpx;
    height: 400rpx;
    margin-bottom: 20rpx;
  }
  
  .popup-name {
    font-size: 30rpx;
    font-weight: bold;
    margin-bottom: 5rpx;
  }
  .last{
    margin-bottom: 50rpx;
  }
  .watch{
    margin-top: 20rpx;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-size: 30rpx;
    height: 90rpx;
    width: 520rpx!important;
    line-height: 100rpx;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .close{
    margin-top: 40rpx;
    background-color: rgb(243, 247, 254);
    font-size: 30rpx;
    height: 90rpx;
    width: 520rpx!important;
    line-height: 100rpx;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  


}